body{
font-family: Arial, Helvetica, sans-serif;
background:#f4f6f9;
margin:0;
padding:0;
}

header{
background:#0d6efd;
color:white;
padding:15px;
text-align:center;
font-size:22px;
}

.container{
width:90%;
max-width:900px;
margin:auto;
margin-top:30px;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
margin-bottom:20px;
}

input,select{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:10px 18px;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
}

.btn{
background:#0d6efd;
color:white;
}

.btn:hover{
background:#084298;
}

.btn-editar{
background:#ffc107;
color:black;
}

.btn-eliminar{
background:#dc3545;
color:white;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
text-align:left;
}

th{
background:#0d6efd;
color:white;
}

.actions button{
margin-right:5px;
}
